* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.active {
  @apply text-gray-400 tracking-[1px] font-bold;
}
span.text-foreground.text-large {
  @apply font-bold font-RedHotDisplay text-[#26395C] text-[22px] leading-7 tracking-[1%];
}
div#\:r2n\: {
  @apply text-[#656B89] font-RedHotDisplay text-base leading-7 tracking-[1%];
}
